.google-logo-img {
    width: 300px;
    margin-left: 660px;
    margin-top: 350px;
    display: block;
}

.search-input {
    border-style: none;
    border-radius: 16px;
    box-shadow: 2px 2px 8px #808080;
    padding: 10px 15px;
}