.test-img {
    width: 300px;
    height: 200px;
    border-radius: 16px;
}

.container-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}